@font-face {
	font-family: 'CuprumRegular';
    src: url('/fonts/CuprumRegular.eot');
    src: url('/fonts/CuprumRegular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CuprumRegular.woff') format('woff'),
         url('/fonts/CuprumRegular.ttf') format('truetype'),
         url('/fonts/CuprumRegular.svg#CuprumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	color: #7d7d7d;
	height: 100%;
	font-size: 10pt;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
input, textarea, select, td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
A {COLOR: #727272; TEXT-DECORATION: underline}
A:visited {COLOR: #727272;}
A:active {COLOR: black; }
A:hover {COLOR: black; TEXT-DECORATION: none}
p {
	margin: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
}
li{
	margin-bottom: 5px;
}
hr{
	height: 1px;
	color: gray;
}
td.vert{
	width: 40px;
	vertical-align: bottom;
}
H1 { FONT-SIZE: 19pt; font-family: CuprumRegular; font-weight: normal; color: #ff7522; margin: 0px;}
H2 { FONT-SIZE: 13pt;}
H3 { FONT-SIZE: 12pt;}
H4 { FONT-SIZE: 11pt;}
form {
	margin: 0px;
	padding: 0px;
}
img {
	border: 0px;
}
td{
	vertical-align: top;
}
table{
	border:0px; /* border="0" */
	border-collapse:collapse; /* cellspacing="0" */
}

table td{
	padding:0px; /* cellpadding="0" */
}

div.t{
	min-width: 800px;
	width: 100%;
	min-height:100%;
	background: #f1f1f1 url('/img/t.jpg') top repeat-x;

}

div.l{
	min-width: 800px;
	width: 100%;
	min-height:100%;
	background: url('/img/l.jpg') left repeat-y;

}
div.r{
	min-width: 800px;
	width: 100%;
	min-height:100%;
	background: url('/img/r.jpg') right repeat-y;

}
div.b{
	min-width: 800px;
	width: 100%;
	min-height:100%;
	background: url('/img/b.jpg') bottom repeat-x;

}
div.lt{
	min-width: 800px;
	width: 100%;
	min-height:100%;
	background: url('/img/lt.jpg') left top no-repeat;

}
div.rt{
	min-width: 800px;
	width: 100%;
	min-height:100%;
	background: url('/img/rt.jpg') right top no-repeat;

}
div.rb{
	min-width: 800px;
	width: 100%;
	min-height:100%;
	background: url('/img/rb.jpg') right bottom no-repeat;


}
div.lb{
	min-width: 800px;
	width: 100%;
	min-height:100%;
	background: url('/img/lb.jpg') left bottom no-repeat;


}

.main
{
	min-width: 800px;
	width: 100%;
	min-height:100%;
	
}

div.center{
	width: 800px;
	margin-left: auto;
	margin-right: auto;

}

div.logo{
	position: absolute;
	width: 167px;
	height: 99px;
	background: url('/img/logo.png') left top no-repeat;
}

div.logo a{
	display: block;
}
div.logo a:hover{
	background: url('/img/logo_a.png') left top no-repeat;
}
div.menu{
	position: absolute;
	text-transform: uppercase;
	font-family: CuprumRegular;
	top: 59px;
	left: 180px;
	width: 600px;
	font-size: 11pt;
	letter-spacing: 1px;
}
div.menu a{
	text-decoration: none;
	color: #E0E0E0;
	padding: 5px 15px 2px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.menu a.a{
	color: white;
	background-color: #727272;
	-moz-box-shadow: inset 2px 2px 2px #626262;
	-webkit-box-shadow: inset 2px 2px 2px  #626262;
	box-shadow: inset 2px 2px 2px  #626262;
   text-shadow: #626262 1px 1px 1px
}


div.menu a:hover{
	color: white;
}

div.h1{
	position: absolute;
	top: 114px;
	left: 195px;
	width: 700px;
	font-family: CuprumRegular;
	font-size: 30px;
	text-transform: uppercase;
}

div.content{
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	min-height: 392px;
	padding: 20px;
}

div.radio{
	position: absolute;
	top: 190px;
	left: 23px;
	width: 120px;
}
div.radio a{		   
	margin-bottom: 20px;
	display: block;
}

div.radio a img{
	opacity: 0.5
}
div.radio a:hover img{
	opacity: 1
}
div.content_padding{
	margin-left: 28px;
	margin-bottom: 28px;
	margin-top: 25px;
	width: 774px;
	word-spacing:4px;
	line-height: 12pt;
}

div.news_table{
 	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div.news_table_a{
	background-color: #F0F0F0;
 	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

table.news_table{
	width: 100%;
}

div.news_date{
	text-align: center;
	font-size: 14pt;
	font-family: CuprumRegular;
}
div.news_month{
	text-align: center;
	font-size: 10pt;
	line-height: 10pt;
	font-family: CuprumRegular;
	text-transform: uppercase;
}

div.news_title{
	font-size: 12pt;
	font-family: CuprumRegular;
	padding-right: 10px;
	margin-bottom: 3px;
}

div.news_description{
	padding-right: 10px;
	font-size: 8pt;
}

table.radiostations td{
	vertical-align: middle;
}

div.tel{
	position: absolute;
	top: 115px;
	left: 610px;
	width: 365px;
	text-align: right;
	font-size: 18pt;
	font-family: CuprumRegular;
}

div.tel sup{
	font-size: 9pt;
}

table.portfolio{
	margin-top: 10px;
	margin-bottom: 20px;
}

table.portfolio td{
	height: 20px;
	text-align: center;
	padding: 2px;
	line-height: 100%;
	vertical-align: middle;
}

table.portfolio tr:nth-child(2n) {
    background: #f0f0f0; /* Цвет фона */
  } 

td.vert{
	width: 40px;
	vertical-align: bottom;
}
